﻿@model Xsismart.Models.Variant

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="container-fluid">
    <div class="card card-primary mx-auto">
        <div class="card-header">
            <h3 class="card-title">Form Input Variant</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" id="create-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NameVariant" class="control-label"></label>
                        <input asp-for="NameVariant" class="form-control" />
                        <span asp-validation-for="NameVariant" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div>
                        <select asp-for="IdCategory" asp-items="@(new SelectList(ViewBag.message,"IdCategory","NameCategory"))"></select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="IsDelete" class="form-control" value="false" />
                        <span asp-validation-for="IsDelete" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                NameVariant: {
                    required: true
                },
                Description: {
                    required : true
                },
                IsDelete: {
                    required: true
                }
            },
            messages: {
                NameVariant: {
                    required: "Isi Nama Category"
                },
                Description: {
                    required: "Isi Deskripsi"
                },
                IsDelete: {
                    required: "Isi False"
                }
            }
        });
    })

</script>
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
