﻿@model Xsismart.ViewModels.VMVariants

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Details</h1>
        </div>
        <div class="card-body">
            <h4>Variant</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NameVariant)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NameVariant)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NameCategory)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NameCategory)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NameVariant)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NameVariant)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdVariant">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
