﻿@model Xsismart.Models.Variant

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>Variant</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdVariant" />
                <div class="form-group">
                    <label asp-for="NameVariant" class="control-label"></label>
                    <input asp-for="NameVariant" class="form-control" />
                    <span asp-validation-for="NameVariant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <select asp-for="IdCategory" asp-items="@(new SelectList(ViewBag.message,"IdCategory","NameCategory"))"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IsDelete" class="control-label"></label>
                    <input asp-for="IsDelete" class="form-control" />
                    <span asp-validation-for="IsDelete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
