﻿@model IEnumerable<Xsismart.ViewModels.VMVariants>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Index</h1>

            <button type="button" class="btn btn-primary col-1" id="btn-create">
                Create
            </button>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NameVariant)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDelete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameCategory)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameVariant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDelete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameCategory)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.IdVariant">Edit</a>*@
                            <a class="btn btn-primary btn-edit" data-id="@item.IdVariant">Edit</a>|
                            <a class="btn btn-success btn-detail" data-id="@item.IdVariant">Details</a> |
                            <a class="btn btn-danger btn-delete" data-id="@item.IdVariant">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Variants/Create');
        $("#modal-default").modal("show");

    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Variants/Edit?id=' + id);
        $("#modal-default").modal("show");

    })

    $(".btn-detail").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Variants/Details?id=' + id);
        $("#modal-default").modal("show");

    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Variants/Delete?id=' + id);
        $("#modal-default").modal("show");

    })

</script>
