﻿@model Xsismart.ViewModels.VMTransactions

@{ ViewData["Title"] = "Delete";
                Layout = null; }



<div class="col-md-12">
    <!-- general form elements -->
    <div>
        <div class="card-header">
            <h5>Are you sure you want to delete this?</h5>
        </div>
        <div class="card-footer">
            <form asp-action="Delete" asp-controller="Transaction">
                <input type="hidden" asp-for="IdDetail" />
                <input type="submit" class="btn btn-block btn-outline-danger" value="Delete">
                <a asp-action="Invoice" class="btn btn-block btn-outline-info ">Back</a>
            </form>
        </div>
    </div>
</div>