﻿@model Xsismart.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<!-- left column -->
<!-- general form elements -->
<div class="container-fluid">
    <div class="card card-primary mx-auto">
        <div class="card-header">
            <h3 class="card-title">Form Input Product</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Create" id="create-form" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label>Name Product</label>
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" placeholder="Enter Name Product">
                    <span asp-validation-for="NameProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Price Product</label>
                    <input type="text" class="form-control" id="Price" name="Price" placeholder="Enter Price Product">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" asp-for="IdCategory" asp-items="@(new SelectList(ViewBag.abc,"IdCategory","NameCategory"))"></select>
                </div>
                <div class="form-group">
                    <label>Variant</label>
                    <select class="form-control" asp-for="IdVariant" asp-items="@(new SelectList(ViewBag.message,"IdVariant","NameVariant"))"></select>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Stock</label>
                    <input type="text" class="form-control" id="Stock" name="Stock" placeholder="Enter Stoc Product">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class=" form-group ">
                    <div class="custom-file">
                        <input type="file" id="fileUpload" class="fileUpload form-control">
                        <div class="img-fluid form-control" id="img-show" style="display:none">
                        </div>
                        <input type="hidden" id="img" asp-for="Image" />
                        @*<button id="btnUpload" class="btn btn-success float-right">Upload</button>*@
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" asp-area="" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#IdCategory").change(function () {
        var IdCategory = $(this).val();
        $.ajax({
            url: '/Product/GetDataVariantAjax',
            dataType: 'json',
            data: { IdCategory: IdCategory },
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append(
                    $.each(respon, function (index, respon) {
                        $("#IdVariant").append("<option value='" + respon.idVariant + "'>" + respon.nameVariant + "</option>");
                    })
                )
            }
        })
    })

       
        $(document).ready(function () {
            $("#create-form").validate({
                rules: {
                    NameProduct: {
                        required: true
                    },
                    Price: {
                        required: true
                    },
                    Stock: {
                        required: true
                    }
                },
                messages: {
                    NameProduct: {
                        required: "Isi Nama Category"
                    },
                    Price: {
                        required: "Isi Price"
                    },
                    Stock: {
                        required: "Isi Stock"
                    }
                }
            });
        })

    $("#fileUpload").change(function () {
        alert("tes")
        var files = $('#fileUpload').prop("files");
        var url = "Product/OnPostMyUploader";
        formData = new FormData();
        formData.append("MyUploader", files[0]);

        jQuery.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (repo) {
                if (repo.status == "success") {
                    var imag = "<img "
                        + "src='mediaUpload/" + repo.fileName + "' style=' width:80%; height:80%'/>";

                    $("#img").val(repo.fileName);
                    $("#img-show").html(imag);
                    $("#img-show").show();
                }
            },
            error: function () {
                alert("Error occurs");
            }
        });
    });

    // If you want to upload file on button click, then use below button click event
    $("#btnUpload").on('click', function () {
        // add jQuery ajax code to upload
    });

</script>
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>







