﻿    @model Xsismart.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div class="container-fluid">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.NameProduct)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameProduct)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdProduct" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>