﻿@model Xsismart.ViewModels.VMProduct

@{
    ViewData["Title"] = "Detail";
    Layout = null;
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Detail Product</h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-bordered table-hover">

                <tbody>
                    <tr>
                        <td>Nama Product :</td>
                        <td> @Model.NameProduct</td>
                    </tr>
                    <tr>
                        <td>Price :</td>
                        <td> @Model.Price</td>
                    </tr>
                    <tr>
                        <td>Stock :</td>
                        <td> @Model.Stock</td>
                    </tr>
                    <tr>
                        <td>Name Category :</td>
                        <td> @Model.NameCategory</td>
                    </tr>
                    <tr>
                        <td>Name Variant :</td>
                        <td> @Model.NameVariant</td>
                    </tr>

            </table>
            <a asp-action="Index">Back To Index</a>
        </div>
    </div>
</div>
