﻿        @model Xsismart.ViewModels.VMProduct

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<!-- left column -->
<!-- general form elements -->
<div class="container-fluid">
    <div class="card card-primary mx-auto">
        <div class="card-header">
            <h3 class="card-title">Form Input Product</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Edit" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <input type="hidden" id="IdProduct" name="IdProduct" value="@Model.IdProduct"><br />

                    <label for="NameProduct">Name Product</label>
                    <input type="text" class="form-control col-6" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
                    <span asp-validation-for="NameProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price Product</label>
                    <input type="text" class="form-control col-6" id="Price" name="Price" value="@Model.Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Category">Category Product</label>
                    <select id="IdCategory" class="form-control col-6" asp-for="IdCategory" asp-items="@(new SelectList(ViewBag.listCat,"IdCategory","NameCategory"))"></select>
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Variant Product</label>
                    <select id="IdVariant" class="form-control col-6" asp-for="IdVariant" asp-items="@(new SelectList(ViewBag.listVar,"IdVariant","NameVariant"))"></select>
       
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Stock</label>
                    <input type="text" class="form-control col-6" id="Stock" name="Stock" value="@Model.Stock">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" asp-area="" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#IdCategory").change(function () {
        var IdCategory = $(this).val();
        $.ajax({
            url: '/Product/GetDataVariantAjax',
            dataType: 'json',
            data: { IdCategory: IdCategory },
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append(
                    $.each(respon, function (index, respon) {
                        $("#IdVariant").append("<option value='" + respon.idVariant + "'>" + respon.nameVariant + "</option>");
                    })
                )
            }
        })
    })
</script>




