﻿@model Xsismart.Misc.PaginatedList<Xsismart.ViewModels.VMProduct>
@*<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>*@
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Data Product</h2>
            <form id="form-search" asp-action="Index" method="get" class="float-right">
                <input id="myInput" type="search" class="form-control" placeholder="Search..." name="SearchString" value="@ViewData["CurrentFilter"]" />
                @Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-2 float-right", @id = "pSize" })
                @*<input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>*@
            </form>
        </div>
        <div class="card-body">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            IDProduct
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name Category</a>
                        </th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>name variant</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.IdProduct
                            </td>
                            <td>
                                @item.NameProduct
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.Stock
                            </td>
                            <td>
                                @item.NameVariant
                            </td>
                            <td>
                                <a class="btn btn-primary btn-edit" data-id="@item.IdProduct">Edit</a>
                                <a class="btn btn-success btn-detail" data-id="@item.IdProduct">Detail</a>
                                <a class="btn btn-danger btn-delete" data-id="@item.IdProduct">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default col-2 @prevDisabled">
                Previous
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default col-2 @nextDisabled">
                Next
            </a>

        </div>

    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary col-md-3" id="btn-create">
            Create
        </button>
    </div>

</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detail Order</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Product/Create');
        $("#modal-default").modal("show");
    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Product/Edit?id=' + id);
        $("#modal-default").modal("show");

    })

    $(".btn-detail").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Product/Detail?id=' + id);
        $("#modal-default").modal("show");

    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Product/Delete?id=' + id);
        $("#modal-default").modal("show");

    })

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()

        $("#pSize").val(selected);
        $("#form-search").submit();
    })

</script>