﻿@model Xsismart.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="container-fluid">
    <div class="card card-primary mx-auto">
        <div class="card-header">
            <h3 class="card-title">Form Input Category</h3>
        </div>
        <form asp-action="Create" id="create-form" data-ajax-method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="NameCategory" class="control-label"></label>
                    <input asp-for="NameCategory" class="form-control col-5" />
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control col-5" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="IsDelete" value="false"><br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                NameCategory: {
                    required: true
                },
                Description: {
                    required : true
                }
            },
            messages: {
                NameCategory: {
                    required: "Isi Nama Category"
                },
                Description: {
                    required: "Isi Deskripsi"
                }
            }
        });
    })

</script>

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
