﻿@model Xsismart.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h1>Delete</h1>
<div class="container-fluid">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.NameCategory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameCategory)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCategory" />
            <input type="hidden" asp-for="NameCategory" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="IsDelete" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
