﻿@model Xsismart.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Detail Category</h3>
        </div>
        <div class="card-body p-0">
            
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.NameCategory) :
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameCategory)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Description) :
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdCategory">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
