﻿@model Xsismart.Misc.PaginatedList<Xsismart.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Data Category</h2>
        </div>
        <div>
            <button type="button" class="btn btn-primary col-md-3 float-left" id="btn-create">
                Create
            </button>
            <form asp-action="Index" method="get" class="float-right" id="form-search">
                @Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-sm-1", @id = "pSize" })
                <input type="search" class="form-control" placeholder="Search..." name="SearchString" value="@ViewData["CurrentFilter"]" />
                @*<input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Index">Back to Full List</a>*@
            </form>
        </div>
        @*CONTOH PAGE SIZE*@
        @*@Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-2", @id = "pSize" })*@
        @*<select id="pSize" name="pSize" class="form-control col-sm-1 float-right"
            asp-items="@(new SelectList(ViewBag.PageSize, "Value","Text"))"></select>*@

        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Id Category
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name Category</a>
                            @*//   @Html.DisplayNameFor(model => model.NameCategory)*@
                        </th>
                        <th>
                            Description
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.IdCategory">Edit</a>*@
                                <a class="btn btn-primary btn-edit" data-id="@item.IdCategory">Edit</a>|
                                <a class="btn btn-success btn-detail" data-id="@item.IdCategory">Details</a> |
                                <a class="btn btn-danger btn-delete" data-id="@item.IdCategory">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>

    </div>

</div>



<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Categories/Create');
        $("#modal-default").modal("show");

    })

    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Categories/Edit/' + id);
        $("#modal-default").modal("show");

    })
    $(".btn-detail").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Categories/Details?id=' + id);
        $("#modal-default").modal("show");

    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");
        alert("Hello! I am an alert box!!");
        $("#id-body").empty();
        $("#id-body").load('/Categories/Delete/' + id);
        $("#modal-default").modal("show");

    })

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()

        $("#pSize").val(selected);
        $("#form-search").submit();
    })
</script>
