﻿@model Xsismart.Misc.PaginatedList<Xsismart.ViewModels.VMProduct>



<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Welcome XsisMart</h1>
        </div>
        
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right container-fluid">
                <form id="form-search" asp-action="Index" method="get" class="container-fluid">
                    <input id="myInput" type="search" class="form-control" placeholder="Search..." name="SearchString" value="@ViewData["CurrentFilter"]" />
                    @Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-2 float-right", @id = "pSize" })

                </form>
            </ol>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="row">
        @foreach (var item in Model)
        {
<div class="col-3 col-sm-3 col-md-3 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-body pt-0">

            <div class="row">
                <div class="col-11 text-center">
                    <img src="~/mediaUpload/@item.Image" class="img-thumbnail">
                </div>
                <div class="col-11">
                    <h2 class="lead"><b>@item.NameProduct</b></h2>
                    <p class="text-muted text-sm"><b>Price: </b> Rp.@item.Price </p>
                    <p class="text-muted text-sm"><b>Stock: </b> @item.Stock </p>

                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="text-right">
                <a class="btn btn-success btn-detail" data-id="@item.IdProduct">
                    <i class="fas fa-cart-plus"></i> Add To Cart
                </a>
            </div>
        </div>
    </div>
</div>}
    </div>
</div>
@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default col-2 @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default col-2 @nextDisabled">
    Next
</a>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detail Order</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()

        $("#pSize").val(selected);
        $("#form-search").submit();
    })

    $(".btn-detail").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Home/DetailOrder?id=' + id);
        $("#modal-default").modal("show");

    })
</script>
