﻿@model Xsismart.ViewModels.VMCustomer
@{
    Layout = null;
}


<head runat="server">
    <title>Verify OTP</title>
</head>
<body>
    <div id="demo"> </div>
    <form asp-action="Register" asp-controller="Login" id="form">
        <div>
            OTP: @Model.otp
            <input type="hidden" class="form-control" id="otp" name="otp" value="@Model.otp"/>
            <input type="hidden" class="form-control" asp-for="NameCustomer" value="@Model.NameCustomer"/>
            <input type="hidden" class="form-control" asp-for="Password" value="@Model.Password"/>
            <input type="hidden" class="form-control" asp-for="Address" value="@Model.Address"/>
            <input type="hidden" class="form-control" asp-for="Email" value="@Model.Email"/>
            <input type="hidden" class="form-control" asp-for="IdCustomer" value="@Model.IdCustomer"/>
            <input type="text" class="form-control" id="text" name="text" placeholder="OTP"/>
            <span style="color:red;display:none" id="validateOTP"></span>
            <button type="button" id="btn-regis" class="btn btn-primary btn-block">Register</button>

        </div>
    </form>
</body>

<script>
    $(document).ready(function () {
        
        // Set the date we're counting down to
        var countDownDate = new Date();
        countDownDate.setMinutes(countDownDate.getMinutes() + 5)
        countDownDate = countDownDate.getTime()
        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000)
    });

    $("#btn-regis").click(function () {
        alert("test")
        var id = $("#otp").val();
        var text = $("#text").val();
        
        if (text == id) {
            $("#validateOTP").html('Otp succes')
            $("#validateOTP").show();
           
        }
        else {
            $("#validateOTP").html('Otp error')
            $("#validateOTP").show();
            return false;
        }
        $("#form").submit();

    })
</script>