﻿@model Xsismart.Models.OrderHeader

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderHeader</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCheckout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCheckout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHeader">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
